body {
  background-color: rgb(255,255,255);
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  color: rgb(43,43,43);
}

.app-wrap-content {
  max-width: 420px;
  margin-top: 70px;
}

.btn.btn-outline-dark.btn-lg, .btn.btn-info.btn-lg {
  border-radius: 0;
  width: 100%;
  border: solid 1px #e5e5e5;
}

.btn.btn-info.btn-lg {
  background-color: #f76329;
}

.btn.btn-info.btn-lg:hover {
  background-color: #782809;
}

.app-set-title {
  background-color: #efefef;
  padding: 10px 0px;
}

body {
}

.navigation-clean {
  background: #f76329;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #ffffff;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

@media (min-width:768px) {
  .navigation-clean {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.navigation-clean .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean .navbar-brand:hover {
  color: #782809;
}

.navigation-clean .navbar-toggler {
  border-color: #ddd;
}

.navigation-clean .navbar-toggler:hover, .navigation-clean .navbar-toggler:focus {
  background: none;
}

.navigation-clean .navbar-toggler {
  color: #ffffff;
}

.navigation-clean .navbar-collapse, .navigation-clean .form-inline {
  border-top-color: #ddd;
}

.navigation-clean.navbar-light .navbar-nav .nav-link.active, .navigation-clean.navbar-light .navbar-nav .nav-link.active:focus, .navigation-clean.navbar-light .navbar-nav .nav-link.active:hover {
  color: #ffffff;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
}

.navigation-clean.navbar-light .navbar-nav .nav-link {
  color: #782809;
}

.navigation-clean.navbar-light .navbar-nav .nav-link:focus, .navigation-clean.navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff !important;
  background-color: transparent;
  transition: 0.5s;
}

.navigation-clean .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: none;
  background-color: #fff;
  border-radius: 2px;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item {
  line-height: 2;
  color: #37434d;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item:hover {
  background: #eee;
  color: inherit;
}

